<%- include("includes/header") -%>

    <html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href="/index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    </head>

    <body style="background-color: #2f3136;">

        <div align="center">
            <br>
            <br>
            <br>
            <br>
            <img src="https://media.discordapp.net/attachments/845107443573719112/859222529939210250/Screenshot_2021-06-29-02-03-02-63_3a637037d35f95c5dbcdcc75e697ce91.jpg" align="center">
            <br>
            <h1><strong><i>make your day with rexom 🎵</i></strong></h1>
            <br>
            <a href="#">
                <img src="https://img.shields.io/github/v/tag/DevelopersSupportAR/rexom?color=red&label=rexom&logo=discord&style=for-the-badge" alt="Support">
                <br>
                <br>
                <br>
                <a href="https://discord.gg/developer-support">
                    <img src="https://img.shields.io/discord/800447810864152596.svg?label=Discord&logo=Discord&colorB=7289da&style=for-the-badge" alt="Support">
                </a>
                <a href="#">
                    <img src="https://img.shields.io/node/v/discord.js?color=blue&label=node&logo=javascript&style=for-the-badge" alt="Support">
                </a>
                <a href="#">
                    <img src="https://img.shields.io/npm/v/distube/beta?label=Distube&logo=npm&style=for-the-badge" alt="Support">
                </a>
                <a href="#">
                    <img src="https://img.shields.io/npm/v/discord.js?label=DISCORD.JS&logo=npm&style=for-the-badge" alt="Support">
                    <a href="#">
                        <img src="https://img.shields.io/github/issues/DevelopersSupportAR/rexom?logo=github&style=for-the-badge" alt="Support">
                    </a>
                    <a href="#">
                        <img src="https://img.shields.io/github/commit-activity/m/DevelopersSupportAR/rexom?logo=github&style=for-the-badge" alt="Support">
                    </a>
                    <br>
                    <br>
                    <br>
                    <br>
                    <h1 align="center"> rexom 🎶</h1>

                    <h3 align="center"> Play your favorite playlist with rexom 🎶 </h3>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <main>
                        <div class="d-flex justify-content-center head">
                            <h1><b>Give your server a tune</b></h1>
                        </div>
                        <div class="d-flex justify-content-center subtext">
                            <p>Music bots are always what gives an artistic touch to servers, but Rexom gives a different touch.</p>
                        </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                      
                        <div class="container custom-1">
                            <h3 class="align-self-start"><b>Better Control</b></h3>
                            <p>
                                Using commands, no matter how brief they are, is always difficult, but using buttons instead is an easier and better experience.
                            </p>
                        </div>
                
                        <div class="container pt-10 custom-2">
                            <img src="https://media.discordapp.net/attachments/892871300312350730/892871735282630729/unknown.png" style="width: 650px; height: 500px;">
                            <h3><b>Easy Control Panle</b></h3>
                        </div>
                
                        <div class="container custom-1 pt-16">
                            <h3 class="align-self-start"><b>                                                                         </b></h3>
                            <h3 class="align-self-start"><b>                                                                         </b></h3>
                            <h3 class="align-self-start"><b>                                                                         </b></h3>
                            <h3 class="align-self-start"><b>                                                                         </b></h3>
                        </div>
                
                        <div class="container pt-10 pt-last custom-2" style="height: 300px">
                            <h3><b>Music Support</b></h3>
                            <img src="https://cdn.wallpapersafari.com/88/15/QV8zlt.jpg" style="width: 650px; height: 350px;">
                        </div>
                </main>
        </div>
    </body>
    <footer>

    </footer>

    </html>
