<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

<link rel="icon" type="image/png" href="<%= bot.user.avatarURL({ size: 128 }) %>">
<title>reXom</title>
<meta charset="UTF-8">
<meta name="description" content="with rexom, Give your server a tune.">
<meta name="author" content="Rexom">
<meta http-equiv="refresh" content="30">
<meta name="keywords" content="rexom, music, niro">
<meta name="theme-color" content="#00A6FF">
<meta property="og:image" content="<%= bot.user.avatarURL({ size: 128 }) %>">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<embed>
  <h6>
</embed>
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">reXom</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home <i class="fas fa-home"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/DevelopersSupportAR/rexom">Source <i class="fas fa-list"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/commands">Commands <i class="fas fa-code"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard <i class="fas fa-chart-line"></i></a>
                </li>
            </ul>
        </div>
        <ul class="nav navbar-left">
            <li class="nav-item"></li>
            <% if (user && user.id) {%>
                <div class="btn-group">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="<%= bot.users.cache.get(user.id) ? bot.users.cache.get(user.id).avatarURL({size: 128, dynamic: true }) : "" %>" style="width: 25px; height: 25px; border-radius: 50%;" alt="avatar">
                      <%= user.username %>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                </div>
                <!-- <button type="button" class="btn btn-danger" onclick="location.href='/logout'">Logout</button> -->
                <% } else { %>
                    <button type="button" class="btn btn-primary" onclick="location.href='/login'">Login</button>
                    <% } %>
        </ul>
    </div>
</nav>